{% extends 'base.html' %}

{% block content %}
<div class="text-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">first name</th>
                <th scope="col">Last name</th>
                <th scope="col">category</th>
                <th scope="col">phone</th>
                <th scope="col">tall</th>
                <th scope="col">weight</th>
                <th scope="col">address</th>
                <th scope="col">date</th>
                <th scope="col">view</th>

                </tr>
            </thead>
            <tbody>
                {% if results %}
                {% for record in results%}
                <tr>
                <th scope="row">1</th>
                <td> {{record.id}} </td>
                <td> {{record.first_name}} </td>
                <td> {{record.last_name}} </td>
                <td> {{record.category}} </td>
                <td> {{record.phone}} </td>
                <td> {{record.tall}} </td>
                <td> {{record.weight}} </td>
                <td> {{record.address}} </td>
                <td> {{record.created_at}} </td>
                <td> <a href="{% url 'view_record' record.id%}" class="btn btn-outline-primary btn-sm">view</a> </td>

                </tr>
                {% endfor %}
                {%else%}
                <br>
                <tr>
                    <td colspan="110" class="text-center">
                        not found "{{ query}}"
                    </td>
                </tr>
                {%endif%}
            </tbody>
            </table>

            </tbody>
        </table>
    </div>
{% endblock%}